@charset "utf-8";

/* CONTENT: 
01. GLOBALS             [23]
02. HEADER              []
03. SECTIONS            []
04. FOOTER              []
05. MENU                []
06. LINKS               []
07. LISTS & GRIDS       []
08. BUTTONS             []
09. FORMS               []
10. TABLES              []
11. CUSTOM SECTIONS     []
12. MEDIA QUERY RULES   []
13. OTHERS              [] 
*/


/***************************************************************************************/


/* 01. GLOBALS */

* {
    font: normal 16px/120% 'OpenSans-Regular', sans-serif;
}

html,
body {
    background: #E5E5E5;
}

.container {
    display: flex;
    flex-basis: auto;
    flex-flow: row wrap;
    padding: .5em;
}


/* 02. HEADER */

.headline {
    background: rgba(255, 255, 255, .98);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
    z-index: 99;
}

.headline-top {
    padding: .5em 0;
    border-bottom: 1.3px solid #E1E1E1;
}

.headline-bottom {
    padding: .5em 0;
}

.header-topmenu__desktop,
.header-topmenu__mobile {
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-evenly;
    justify-items: center;
}

.header-top__button {
    width: auto;
    text-align: center;
    padding: 0 10px;
}

.header-bottom__button {
    width: auto;
    text-align: center;
}

.header-top__button a {
    font: normal 14px/100% 'OpenSans-Light', sans-serif;
}

.header-bottom__button a {
    font: normal 14px/100% 'OpenSans-Regular', sans-serif;
    text-decoration: none;
}

.header-phone {
    align-items: center;
    justify-items: center;
    justify-content: flex-end;
}

.header-phone span {
    font: normal 18px/24px 'PT Sans', sans-serif;
}

.header-recall {
    align-items: center;
    justify-items: center;
    justify-content: center;
}


/* 03. SECTIONS */

.row-transparent {
    background: rgba(0, 0, 0, 0);
}

.row-white {
    background: #FFFFFF;
}


/* 04. FOOTER */

.footline {
    background: linear-gradient(to right, #FFFFFF, 65%, #D0D0D0, 65.1%, #D0D0D0);
}

.footline-top {
    padding: 0;
    margin: -1em 0 -.5em;
}

.footline-bottom {
    padding: .5em 0;
    background: #D0D0D0;
    height: 40px;
}

.bottom-menus {
    display: flex;
    flex-flow: row wrap;
}

.bottom-menu {
    flex-direction: column;
    padding: 1em 0 1.5em;
}

.bottom-menu__title {
    font: normal 18px/125% 'OpenSans-Regular', sans-serif;
    margin: 0 0 20px;
}

.bottom-menu__items {
    list-style: none inside none;
    margin: 0;
    padding: 0;
}

.bottom-menu__item {
    font: normal 14px/120% 'OpenSans-Regular', sans-serif;
    padding: 5px 0;
}

.bottom-menu__item a {
    color: #000000;
    text-decoration: none;
}

.bottom-menu__item a:focus,
.bottom-menu__item a:hover {
    color: #005EC8;
    text-decoration: none;
}

.bottom-contacts {
    flex-direction: column;
    margin-top: -.5em;
    padding: 1.5em 1em 1em;
    background: #D0D0D0;
}

.bottom-contacts span,
.bottom-contacts p {
    padding: 0;
    margin: 0 0 10px;
    color: #000000;
    width: 100%;
}

.bottom-contacts span {
    display: flex;
    font: normal 18px/125% 'OpenSans-Regular', sans-serif;
}

.bottom-contacts p {
    font: normal 14px/120% 'OpenSans-Regular', sans-serif;
}

.bottom-line {
    color: rgba(255, 255, 255, 0);
    text-align: center;
}


/* 5. MENU */

.header-menu__items {
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none inside none;
}

.header-menu__item {
    padding: 0 20px;
}

.header-menu__item a {
    font: normal 16px/22px 'OpenSans-Regular', sans-serif;
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
}

.header-menu__item .item-has-child a {
    font: normal 16px/22px 'OpenSans-Regular', sans-serif;
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
}

.header-menu__item a:focus,
.header-menu__item a:hover,
.header-menu__item .item-has-child a:focus,
.header-menu__item .item-has-child a:hover {
    color: #005EC8;
    text-decoration: none;
}


/* 8. BUTTONS */

.button-xxl {
    height: 68px;
    padding: 18px 36px;
    -moz-border-radius: 34px;
    -webkit-border-radius: 34px;
    border-radius: 34px;
}

.button-xl {
    height: 48px;
    padding: 12px 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
}

.button-l {
    height: 40px;
    padding: 8px 6px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.button-m {
    height: 36px;
    padding: 6px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
}

.button-s {
    height: 28px;
    padding: 5px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
}

.button-xs {
    height: 20px;
    padding: 4px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.button-iconic {
    border: medium none;
}

.button-readmore,
.button-readmore:focus,
.button-readmore:hover {
    cursor: pointer;
    color: #005EC8;
    text-decoration: none;
}

.button-normal {
    color: #000000;
    text-decoration: none;
}

.button-normal:focus,
.button-normal:hover {
    color: #005EC8;
    text-decoration: none;
}

.button-primary {
    background: rgba(255, 255, 255, 0);
    border: 2px solid #005EC8;
    box-sizing: border-box;
    -moz-transition: all .3s ease-in-out .15s;
    -webkit-transition: all .3s ease-in-out .15s;
    transition: all .3s ease-in-out .15s;
    color: #005EC8;
    text-decoration: none;
}

.button-primary:focus,
.button-primary:hover {
    background: #005EC8;
    border: 2px solid #005EC8;
    color: #FFFFFF;
    text-decoration: none;
}

.button-primary-inverse {
    background: #005EC8;
    border: 2px solid #005EC8;
    box-sizing: border-box;
    -moz-transition: all .3s ease-in-out .15s;
    -webkit-transition: all .3s ease-in-out .15s;
    transition: all .3s ease-in-out .15s;
    color: #FFFFFF;
    text-decoration: none;
}

.button-primary-inverse:focus,
.button-primary-inverse:hover {
    background: #FFFFFF;
    border: 2px solid #005EC8;
    color: #005EC8;
    text-decoration: none;
}

.button-warning {
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    -moz-transition: all .3s ease-in-out .15s;
    -webkit-transition: all .3s ease-in-out .15s;
    transition: all .3s ease-in-out .15s;
    color: #000000;
    text-decoration: none;
}

.button-warning:focus,
.button-warning:hover {
    background: #FDF415;
    border: 2px solid #FDF415;
    box-shadow: 0 0 5px #FDF415;
    color: #000000;
    text-decoration: none;
}


/* 11. CUSTOM SECTIONS */


/* section-4step */

.section-4step {
    display: flex;
    flex-flow: row wrap;
}

.section-4step__title {
    width: 100%;
    margin: 90px auto 60px;
    font: 600 36px/120% 'OpenSans-Regular', sans-serif;
    text-align: center;
}

.section-4step__items {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.section-4step__item {
    position: relative;
    width: calc(100% / 4 - 30px);
    margin: 0 15px 30px;
    padding: 0;
    text-align: center;
    letter-spacing: -.03em;
}

.section-4step__item-img {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto 30px;
    position: relative;
}

.section-4step__item-img img {
    position: absolute;
}

.section-4step__item-img p {
    font: normal 20px/140% 'OpenSans-Regular', sans-serif;
    position: absolute;
    top: 5px;
    left: 23%;
}

.section-4step__item-title {
    font: normal 20px/140% 'OpenSans-Regular', sans-serif;
    margin: 0 0 26px;
}

.section-4step__item p,
.section-4step__item a,
.section-4step__item span {
    font: normal 16px/140% 'OpenSans-Regular', sans-serif;
}

.section-4step__item p {
    margin: 0 0 16px;
}

.section-4step__item span {
    font-weight: 600;
}

.section-4step__item a {
    color: #005EC8;
    text-decoration: none;
    -moz-transition: all .3s ease-in-out .1s;
    -webkit-transition: all .3s ease-in-out .1s;
    transition: all .3s ease-in-out .1s;
}

.section-4step__item a:focus,
.section-4step__item a:hover {
    color: #005EC8;
    text-decoration: underline;
}

.section-4step__item-img svg {
    width: 104px;
    height: 104px;
    -moz-border-radius: 52px;
    -webkit-border-radius: 52px;
    border-radius: 52px;
    box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.06);
    position: relative;
}

.section-4step__item-img circle {
    fill: #FFFFFF;
    stroke: #005EC8;
    stroke-width: 4px;
    stroke-miterlimit: 20;
    -webkit-transition: 2s all;
    -o-transition: 2s all;
    transition: 2s all;
}

.section-4step__item-img .circle1 {
    stroke-dasharray: 80 240;
    stroke-dashoffset: 90;
}

.section-4step__item-img .circle2 {
    stroke-dasharray: 180 160;
    stroke-dashoffset: 105;
}

.section-4step__item-img .circle3 {
    stroke-dasharray: 240 80;
    stroke-dashoffset: 85;
}

.section-4step__item-img .circle4 {
    stroke-dasharray: 320;
    stroke-dashoffset: 0;
}

.section-4step__item:focus>.section-4step__item-img circle,
.section-4step__item:hover>.section-4step__item-img circle {
    fill: #FDF415;
}


/* section-about-review */

.section-aboutplus {
    display: flex;
    flex-flow: row wrap;
}

.section-aboutplus__title {
    width: 100%;
    margin: 90px auto 60px;
    font: 600 36px/120% 'OpenSans-Regular', sans-serif;
    text-align: left;
}

.section-aboutplus__items {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.section-aboutplus__item {
    position: relative;
    width: calc(100% / 2);
    margin: 0 0 60px;
    padding: 0;
}

.section-aboutplus__item span {
    font: normal 50px/140% 'OpenSans-Bold', sans-serif;
    color: #005EC8;
}

.section-aboutplus__item p {
    font: normal 18px/140% 'OpenSans-Regular', sans-serif;
    color: #000000;
}

.section-aboutplus__review-items {
    display: flex;
    flex-flow: column wrap;
    position: relative;
    margin: 100px auto 30px;
}

.section-aboutplus__review-controls {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-aboutplus__review-item {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    justify-items: center;
}

.section-aboutplus__review-item-logo {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-items: flex-start;
    height: 35px;
    margin: 0 auto 25px 0;
    padding: 0;
}

.section-aboutplus__review-item-quote {
    font: normal 18px/140% 'OpenSans-Regular', sans-serif;
}

.section-aboutplus__review-item-title {
    font: normal 16px/140% 'OpenSans-Bold', sans-serif;
}

.section-aboutplus__review-item-jobs {
    font: normal 14px/140% 'OpenSans-Regular', sans-serif;
}

.section-aboutplus__read-all {
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0 auto 110px;
}

.review-arrows {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

.review-arrow-prev,
.review-arrow-next {
    background: #FFFFFF;
    border: 1px solid #A7A7A7;
    color: #A7A7A7;
    text-decoration: none;
    width: 30px;
    height: 30px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-transition: all .3s ease-in-out .1s;
    -webkit-transition: all .3s ease-in-out .1s;
    transition: all .3s ease-in-out .1s;
}

.review-arrow-prev:focus,
.review-arrow-prev:hover,
.review-arrow-next:focus,
.review-arrow-next:hover {
    border: 1px solid #005EC8;
    color: #005EC8;
    text-decoration: none;
    width: 30px;
    height: 30px;
}

.review-arrow-prev i,
.review-arrow-next i {
    font-size: 24px;
}


/* section-advantage */

.section-advantage {
    display: flex;
    flex-flow: row wrap;
}

.section-advantage__title {
    width: 100%;
    margin: 60px auto;
    font: 600 36px/120% 'OpenSans-Regular', sans-serif;
    text-align: center;
}

.section-advantage__items {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.section-advantage__item {
    width: calc(100% / 3 - 30px);
    margin: 0 15px 30px;
    padding: 0;
    text-align: center;
}

.section-advantage__item-img {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    margin: 0 auto 30px;
    position: relative;
    width: 120px;
    height: 120px;
    box-shadow: 0px 1px 16px rgba(204, 223, 244, 0.23);
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}

.section-advantage__item-img img {
    position: absolute;
}

.section-advantage__item-title {
    font: normal 24px/140% 'OpenSans-Regular', sans-serif;
    margin: 0 0 15px;
}

.section-advantage__item p,
.section-advantage__item a,
.section-advantage__item span {
    font: normal 16px/140% 'OpenSans-Regular', sans-serif;
}

.section-advantage__item p {
    margin: 0 0 16px;
}

.section-advantage__item span {
    font-weight: 600;
}

.section-advantage__item a {
    color: #005EC8;
    text-decoration: none;
    -moz-transition: all .3s ease-in-out .1s;
    -webkit-transition: all .3s ease-in-out .1s;
    transition: all .3s ease-in-out .1s;
}

.section-advantage__item a:focus,
.section-advantage__item a:hover {
    color: #005EC8;
    text-decoration: underline;
}


/* section-advert */

.section-advert {
    display: flex;
    flex-flow: row wrap;
}

.section-advert__title {
    width: 100%;
    margin: 90px auto 60px;
    font: 600 36px/120% 'OpenSans-Regular', sans-serif;
    text-align: center;
}

.section-advert__items {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.section-advert__item {
    position: relative;
    background: #FFFFFF;
    width: calc(100% / 2 - 30px);
    margin: 0 15px 30px;
    padding: 40px 40px 30px;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.06);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.section-advert__item-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background: rgb(255, 251, 141);
    background-size: auto 100%;
}

.section-advert__item-icon .icon-temp {
    background: url("./assets/template/kgk/img/icon-temp.png");
}

.section-advert__item-icon .icon-block {
    background: url("./assets/template/kgk/img/icon-block.png");
}

.section-advert__item-icon .icon-fuel {
    background: url("./assets/template/kgk/img/icon-fuel.png");
}

.section-advert__item-icon .icon-hour {
    background: url("./assets/template/kgk/img/icon-hour.png");
}

.section-advert__item:before:focus,
.section-advert__item:before:hover {
    background: #FDF415;
}

.section-advert__item-title {
    font: normal 22px/140% 'OpenSans-Regular', sans-serif;
    margin: 0 0 26px;
}

.section-advert__item-descr {
    font: normal 16px/140% 'OpenSans-Regular', sans-serif;
    margin: 0 0 26px;
    color: #000000;
    text-decoration: none;
}

.section-advert__item .button-readmore {
    padding: 0;
}

.section-advert__read-all {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 30px auto;
}


/* section-articles */

.section-articles {
    display: flex;
    flex-flow: row wrap;
}

.section-articles__title {
    width: 100%;
    margin: 90px auto 60px;
    font: 600 36px/120% 'OpenSans-Regular', sans-serif;
    text-align: center;
}

.section-articles__items {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.section-articles__item {
    position: relative;
    width: calc(100% / 4 - 30px);
    margin: 0 15px 30px;
    padding: 0 15px;
}

.section-articles__item-img {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: auto;
    height: 180px;
    margin: 0 -15px 15px;
    padding: 0;
    overflow: hidden;
}

.section-articles__item-img img {
    width: auto;
    max-height: 100%;
}

.section-articles__item-date {
    width: 100%;
    font: normal 14px/140% 'OpenSans-Regular', sans-serif;
    color: rgba(0, 0, 0, 0.6);
    padding: 15px 0 10px;
}

.section-articles__item-title {
    font: normal 18px/140% 'OpenSans-Regular', sans-serif;
    color: #000000;
    padding: 0;
}

.section-articles__item-readmore {
    width: 100%;
    padding: 20px 0 30px;
}


/* 12. MEDIA QUERY RULES */

@media screen and (min-width:1440px) {
    .container {
        width: 1440px;
    }
}