@charset "utf-8";

/* CONTENT: 
01. GLOBALS             [23]
02. HEADER              []
03. SECTIONS            []
04. FOOTER              []
05. MENU                []
06. LINKS               []
07. LISTS & GRIDS       []
08. BUTTONS             []
09. FORMS               []
10. TABLES              []
11. CUSTOM SECTIONS     []
12. MEDIA QUERY RULES   []
13. OTHERS              [] 
*/


/***************************************************************************************/


/* 01. GLOBALS */

* {
    font: normal 16px/120% 'OpenSans-Regular', sans-serif;
}

html,
body {
    background: #E5E5E5;
}

.container {
    display: flex;
    flex-basis: auto;
    flex-flow: row wrap;
    padding: .5em;
}

.slick-slide img {
    text-align: center;
    margin: 0 auto;
}


/* 02. HEADER */

.headline {
    background: rgba(255, 255, 255, .98);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
    z-index: 99;
}

.headline-top {
    padding: .5em 0;
    border-bottom: 1.3px solid #E1E1E1;
}

.headline-bottom {
    padding: .5em 0;
}

.header-topmenu__desktop,
.header-topmenu__mobile {
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-evenly;
    justify-items: center;
}

.header-top__button {
    width: auto;
    text-align: center;
    padding: 0 10px;
}

.header-bottom__button {
    width: auto;
    text-align: center;
}

.header-top__button a {
    font: normal 14px/100% 'OpenSans-Light', sans-serif;
}

.header-bottom__button a {
    font: normal 14px/100% 'OpenSans-Regular', sans-serif;
    text-decoration: none;
}

.header-phone {
    align-items: center;
    justify-items: center;
    justify-content: flex-end;
}

.header-phone span {
    font: normal 18px/24px 'PT Sans', sans-serif;
}

.header-recall {
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
}


/* 03. SECTIONS */

.row-transparent {
    background: rgba(0, 0, 0, 0);
}

.row-white {
    background: #FFFFFF;
}

.row-between {
    margin: 0 auto calc(6rem);
}


/* 04. FOOTER */

.footline {
    background: linear-gradient(to right, #FFFFFF, 69%, #D0D0D0, 69.01%, #D0D0D0);
}

.footline-top {
    padding: 0;
    margin: -1em 0 -.5em;
}

.footline-bottom {
    padding: .5em 0;
    background: #D0D0D0;
    height: 40px;
}

.bottom-menus {
    display: flex;
    flex-flow: row wrap;
}

.bottom-menu {
    flex-direction: column;
    padding: 1em 0 1.5em;
}

.bottom-menu__title {
    font: normal 18px/125% 'OpenSans-Regular', sans-serif;
    margin: 0 0 20px;
}

.bottom-menu__items {
    list-style: none inside none;
    margin: 0;
    padding: 0;
}

.bottom-menu__item {
    font: normal 14px/120% 'OpenSans-Regular', sans-serif;
    padding: 5px 0;
}

.bottom-menu__item a {
    color: #000000;
    text-decoration: none;
}

.bottom-menu__item a:focus,
.bottom-menu__item a:hover {
    color: #005EC8;
    text-decoration: none;
}

.bottom-contacts {
    flex-direction: column;
    margin-top: -.5em;
    padding: 1.5em 1em 1em;
    background: #D0D0D0;
}

.bottom-contacts span,
.bottom-contacts p {
    padding: 0;
    margin: 0 0 10px;
    color: #000000;
    width: 100%;
}

.bottom-contacts span {
    display: flex;
    font: normal 18px/125% 'OpenSans-Regular', sans-serif;
}

.bottom-contacts p {
    font: normal 14px/120% 'OpenSans-Regular', sans-serif;
}

.bottom-line {
    color: rgba(255, 255, 255, 0);
    text-align: center;
}


/* 5. MENU */

.header-menu__items {
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none inside none;
}

.header-menu__item,
.header-menu__dropdown-menu-item {
    width: 100%;
    padding: 5px 20px;
}

.header-menu__item a,
.header-menu__dropdown-menu-item a {
    font: normal 16px/22px 'OpenSans-Regular', sans-serif;
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.header-menu__dropdown-menu-item>.header-menu__item a {
    font: normal 15px/22px 'OpenSans-Regular', sans-serif;
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.header-menu__item a:focus,
.header-menu__item a:hover,
.header-menu__dropdown-menu-item a:focus,
.header-menu__dropdown-menu-item a:hover,
.header-menu__dropdown-menu-item>.header-menu__item a:focus,
.header-menu__dropdown-menu-item>.header-menu__item a:hover {
    color: #005EC8;
    text-decoration: none;
}

.header-menu__dropdown-menu-item>.header-menu__items {
    display: none;
}

.header-menu__dropdown-menu-item:focus>.header-menu__items,
.header-menu__dropdown-menu-item:hover>.header-menu__items,
.header-menu__dropdown-menu-item .active>.header-menu__items {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 30px;
    background: #FFFFFF;
    border-top: none;
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    width: auto;
    margin: 0;
    padding: 15px 0;
    list-style: none inside none;
}


/* 8. BUTTONS */

.button-xxl {
    height: 68px;
    padding: 18px 42px;
    -moz-border-radius: 34px;
    -webkit-border-radius: 34px;
    border-radius: 34px;
}

.button-xl {
    height: 48px;
    padding: 12px 30px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
}

.button-l {
    height: 40px;
    padding: 8px 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.button-m {
    height: 36px;
    padding: 6px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
}

.button-s {
    height: 28px;
    padding: 5px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
}

.button-xs {
    height: 20px;
    padding: 4px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.button-iconic {
    border: medium none;
}

.button-readmore,
.button-readmore:focus,
.button-readmore:hover {
    cursor: pointer;
    color: #005EC8;
    text-decoration: none;
}

.button-normal {
    color: #000000;
    text-decoration: none;
}

.button-normal:focus,
.button-normal:hover {
    color: #005EC8;
    text-decoration: none;
}

.button-primary {
    background: rgba(255, 255, 255, 0);
    border: 2px solid #005EC8;
    box-sizing: border-box;
    -moz-transition: all .3s ease-in-out .15s;
    -webkit-transition: all .3s ease-in-out .15s;
    transition: all .3s ease-in-out .15s;
    color: #005EC8;
    text-decoration: none;
}

.button-primary:focus,
.button-primary:hover {
    background: #005EC8;
    border: 2px solid #005EC8;
    color: #FFFFFF;
    text-decoration: none;
}

.button-primary-inverse {
    background: #005EC8;
    border: 2px solid #005EC8;
    box-sizing: border-box;
    -moz-transition: all .3s ease-in-out .15s;
    -webkit-transition: all .3s ease-in-out .15s;
    transition: all .3s ease-in-out .15s;
    color: #FFFFFF;
    text-decoration: none;
}

.button-primary-inverse:focus,
.button-primary-inverse:hover {
    background: #FFFFFF;
    border: 2px solid #005EC8;
    color: #005EC8;
    text-decoration: none;
}

.button-warning {
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    -moz-transition: all .3s ease-in-out .15s;
    -webkit-transition: all .3s ease-in-out .15s;
    transition: all .3s ease-in-out .15s;
    color: #000000;
    text-decoration: none;
}

.button-warning:focus,
.button-warning:hover {
    background: #FDF415;
    border: 2px solid #FDF415;
    box-shadow: 0 0 5px #FDF415;
    color: #000000;
    text-decoration: none;
}

.button-warning-inverse {
    background: #FDF415;
    border: 2px solid #FDF415;
    box-sizing: border-box;
    -moz-transition: all .3s ease-in-out .15s;
    -webkit-transition: all .3s ease-in-out .15s;
    transition: all .3s ease-in-out .15s;
    color: #000000;
    text-decoration: none;
}

.button-warning-inverse:focus,
.button-warning-inverse:hover {
    background: #FFFFFF;
    border: 2px solid #FDF415;
    box-shadow: 0 0 15px #FDF415;
    color: #000000;
    text-decoration: none;
}


/* 11. CUSTOM SECTIONS */


/* section-4step */

.section-4step {
    display: flex;
    flex-flow: row wrap;
}

.section-4step__title {
    width: 100%;
    margin: 90px auto 60px;
    font: 600 36px/120% 'OpenSans-Regular', sans-serif;
    text-align: center;
}

.section-4step__items {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.section-4step__item {
    position: relative;
    width: calc(100% / 4 - 30px);
    margin: 0 15px 30px;
    padding: 0;
    text-align: center;
    letter-spacing: -.03em;
}

.section-4step__item-img {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto 30px;
    position: relative;
}

.section-4step__item-img img {
    position: absolute;
}

.section-4step__item-img p {
    font: normal 20px/140% 'OpenSans-Regular', sans-serif;
    position: absolute;
    top: 5px;
    left: 23%;
}

.section-4step__item-title {
    font: normal 20px/140% 'OpenSans-Regular', sans-serif;
    margin: 0 0 26px;
}

.section-4step__item p,
.section-4step__item a,
.section-4step__item span {
    font: normal 16px/140% 'OpenSans-Regular', sans-serif;
}

.section-4step__item p {
    margin: 0 0 16px;
}

.section-4step__item span {
    font-weight: 600;
}

.section-4step__item a {
    color: #005EC8;
    text-decoration: none;
    -moz-transition: all .3s ease-in-out .1s;
    -webkit-transition: all .3s ease-in-out .1s;
    transition: all .3s ease-in-out .1s;
}

.section-4step__item a:focus,
.section-4step__item a:hover {
    color: #005EC8;
    text-decoration: underline;
}

.section-4step__item-img svg {
    width: 104px;
    height: 104px;
    -moz-border-radius: 52px;
    -webkit-border-radius: 52px;
    border-radius: 52px;
    box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.06);
    position: relative;
}

.section-4step__item-img circle {
    fill: #FFFFFF;
    stroke: #005EC8;
    stroke-width: 4px;
    stroke-miterlimit: 20;
    -webkit-transition: 2s all;
    -o-transition: 2s all;
    transition: 2s all;
}

.section-4step__item-img .circle1 {
    stroke-dasharray: 80 240;
    stroke-dashoffset: 90;
}

.section-4step__item-img .circle2 {
    stroke-dasharray: 180 160;
    stroke-dashoffset: 105;
}

.section-4step__item-img .circle3 {
    stroke-dasharray: 240 80;
    stroke-dashoffset: 85;
}

.section-4step__item-img .circle4 {
    stroke-dasharray: 320;
    stroke-dashoffset: 0;
}

.section-4step__item:focus>.section-4step__item-img circle,
.section-4step__item:hover>.section-4step__item-img circle {
    fill: #FDF415;
}


/* section-about-review */

.section-aboutplus {
    display: flex;
    flex-flow: row wrap;
}

.section-aboutplus__title {
    width: 100%;
    margin: 90px auto 60px;
    font: 600 36px/120% 'OpenSans-Regular', sans-serif;
    text-align: left;
}

.section-aboutplus__items {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.section-aboutplus__item {
    position: relative;
    width: calc(100% / 2);
    margin: 0 0 60px;
    padding: 0;
}

.section-aboutplus__item span {
    font: normal 50px/140% 'OpenSans-Bold', sans-serif;
    color: #005EC8;
}

.section-aboutplus__item p {
    font: normal 18px/140% 'OpenSans-Regular', sans-serif;
    color: #000000;
}

.section-aboutplus__review-items {
    display: flex;
    flex-flow: column wrap;
    position: relative;
    margin: 100px auto 30px;
}

.section-aboutplus__review-controls {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-aboutplus__review-item {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    justify-items: center;
}

.section-aboutplus__review-item-logo {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-items: flex-start;
    height: 35px;
    margin: 0 auto 25px 0;
    padding: 0;
}

.section-aboutplus__review-item-quote {
    font: normal 18px/140% 'OpenSans-Regular', sans-serif;
}

.section-aboutplus__review-item-title {
    font: normal 16px/140% 'OpenSans-Bold', sans-serif;
}

.section-aboutplus__review-item-jobs {
    font: normal 14px/140% 'OpenSans-Regular', sans-serif;
}

.section-aboutplus__read-all {
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0 auto 110px;
}

.review-arrows {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

.review-arrow-prev,
.review-arrow-next {
    background: #FFFFFF;
    border: 1px solid #A7A7A7;
    color: #A7A7A7;
    text-decoration: none;
    width: 30px;
    height: 30px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-transition: all .3s ease-in-out .1s;
    -webkit-transition: all .3s ease-in-out .1s;
    transition: all .3s ease-in-out .1s;
}

.review-arrow-prev:focus,
.review-arrow-prev:hover,
.review-arrow-next:focus,
.review-arrow-next:hover {
    border: 1px solid #005EC8;
    color: #005EC8;
    text-decoration: none;
    width: 30px;
    height: 30px;
}

.review-arrow-prev i,
.review-arrow-next i {
    font-size: 20px;
}


/* section-advantage */

.section-advantage {
    display: flex;
    flex-flow: row wrap;
}

.section-advantage__title {
    width: 100%;
    margin: 60px auto;
    font: 600 36px/120% 'OpenSans-Regular', sans-serif;
    text-align: center;
}

.section-advantage__items {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.section-advantage__item {
    width: calc(100% / 3 - 30px);
    margin: 0 15px 30px;
    padding: 0;
    text-align: center;
}

.section-advantage__item-img {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    margin: 0 auto 30px;
    position: relative;
    width: 120px;
    height: 120px;
    box-shadow: 0px 1px 16px rgba(204, 223, 244, 0.23);
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}

.section-advantage__item-img img {
    position: absolute;
}

.section-advantage__item-title {
    font: normal 24px/140% 'OpenSans-Regular', sans-serif;
    margin: 0 0 15px;
}

.section-advantage__item p,
.section-advantage__item a,
.section-advantage__item span {
    font: normal 16px/140% 'OpenSans-Regular', sans-serif;
}

.section-advantage__item p {
    margin: 0 0 16px;
}

.section-advantage__item span {
    font-weight: 600;
}

.section-advantage__item a {
    color: #005EC8;
    text-decoration: none;
    -moz-transition: all .3s ease-in-out .1s;
    -webkit-transition: all .3s ease-in-out .1s;
    transition: all .3s ease-in-out .1s;
}

.section-advantage__item a:focus,
.section-advantage__item a:hover {
    color: #005EC8;
    text-decoration: underline;
}


/* section-advert */

.section-advert {
    display: flex;
    flex-flow: row wrap;
}

.section-advert__title {
    width: 100%;
    margin: 90px auto 60px;
    font: 600 36px/120% 'OpenSans-Regular', sans-serif;
    text-align: center;
}

.section-advert__items {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.section-advert__item {
    position: relative;
    background: #FFFFFF;
    width: calc(100% / 2 - 30px);
    margin: 0 15px 30px;
    padding: 40px 40px 30px;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.06);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.section-advert__item-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background: rgb(255, 251, 141);
    background-size: auto 100%;
}

.section-advert__item-icon .icon-temp {
    background: url("./assets/template/kgk/img/icon-temp.png");
}

.section-advert__item-icon .icon-block {
    background: url("./assets/template/kgk/img/icon-block.png");
}

.section-advert__item-icon .icon-fuel {
    background: url("./assets/template/kgk/img/icon-fuel.png");
}

.section-advert__item-icon .icon-hour {
    background: url("./assets/template/kgk/img/icon-hour.png");
}

.section-advert__item:before:focus,
.section-advert__item:before:hover {
    background: #FDF415;
}

.section-advert__item-title {
    font: normal 22px/140% 'OpenSans-Regular', sans-serif;
    margin: 0 0 26px;
}

.section-advert__item-descr {
    font: normal 16px/140% 'OpenSans-Regular', sans-serif;
    margin: 0 0 26px;
    color: #000000;
    text-decoration: none;
}

.section-advert__item .button-readmore {
    padding: 0;
}

.section-advert__read-all {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 30px auto;
}


/* section-articles */

.section-articles {
    display: flex;
    flex-flow: row wrap;
}

.section-articles__title {
    width: 100%;
    margin: 90px auto 60px;
    font: 600 36px/120% 'OpenSans-Regular', sans-serif;
    text-align: center;
}

.section-articles__items {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.section-articles__item {
    position: relative;
    width: calc(100% / 4 - 30px);
    margin: 0 15px 30px;
    padding: 0 15px;
}

.section-articles__item-img {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: auto;
    height: 180px;
    margin: 0 -15px 15px;
    padding: 0;
    overflow: hidden;
}

.section-articles__item-img img {
    width: auto;
    max-height: 100%;
}

.section-articles__item-date {
    width: 100%;
    font: normal 14px/140% 'OpenSans-Regular', sans-serif;
    color: rgba(0, 0, 0, .6);
    padding: 15px 0 10px;
}

.section-articles__item-title {
    font: normal 18px/140% 'OpenSans-Regular', sans-serif;
    color: #000000;
    padding: 0;
}

.section-articles__item-readmore {
    width: 100%;
    padding: 20px 0 30px;
}


/* section browsers */

.section-browsers {
    display: flex;
    flex-flow: row wrap;
}

.section-browsers__title {
    width: 100%;
    margin: 90px auto 20px;
    font: 600 32px/140% 'OpenSans-Regular', sans-serif;
    text-align: center;
}

.section-browsers__descr {
    margin: 20px auto 60px;
    font: normal 18px/140% 'OpenSans-Regular', sans-serif;
    text-align: center;
}

.section-browsers__items {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin: 0 auto 60px;
}

.section-browsers__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    width: calc(100% / 6 - 50px);
    min-width: 90px;
}

.section-browsers__item p {
    font: normal 14px/140% 'OpenSans-Regular', sans-serif;
    text-align: center;
    color: #000000;
    padding-top: 15px;
}


/* section choicevidget */

.section-choicevidget {
    display: flex;
    flex-flow: row wrap;
}

.section-choicevidget__title {
    width: 100%;
    margin: 90px auto 20px;
    font: 600 36px/140% 'OpenSans-Regular', sans-serif;
    text-align: center;
}

.section-choicevidget__descr {
    margin: 20px auto 40px;
    padding: 0 50px;
    font: normal 22px/140% 'OpenSans-Regular', sans-serif;
    text-align: center;
}

.section-choicevidget__body {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 16px rgba(204, 223, 244, .23);
    border-radius: 4px;
}

.section-choicevidget__body {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 16px rgba(204, 223, 244, .23);
    border-radius: 4px;
}

.section-choicevidget__controls {
    display: flex;
    flex-flow: column wrap;
    padding: 0 30px 0 0;
}

.section-choicevidget__counter {
    width: 100%;
    font: normal 18px/140% 'OpenSans-Regular', sans-serif;
    color: rgba(75, 75, 75, .6);
}

.section-choicevidget__question {
    width: 100%
}

.section-choicevidget__question-title {
    font: 600 26px/140% 'OpenSans-Regular', sans-serif;
    color: #373737;
}

.section-choicevidget__question-descr {
    margin: 30px auto;
    font: 300 18px/120% 'OpenSans-Regular', sans-serif;
    color: rgba(0, 0, 0, .7);
}

.section-choicevidget__arrows {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
}

.section-choicevidget__arrow-prev,
.section-choicevidget__arrow-next {
    display: flex;
    align-content: center;
    align-items: center;
    color: #6A6A6A;
    text-align: center;
}

.choicevidget-arrow-prev,
.choicevidget-arrow-next {
    width: 30px;
    height: 30px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-transition: all .3s ease-in-out .1s;
    -webkit-transition: all .3s ease-in-out .1s;
    transition: all .3s ease-in-out .1s;
    background: #FFFFFF;
    border: 1px solid #A7A7A7;
    color: #A7A7A7;
    text-decoration: none;
}

.choicevidget-arrow-prev {
    margin: 0 12px 0 0;
}

.choicevidget-arrow-next {
    margin: 0 0 0 12px;
}

.choicevidget-arrow-prev:focus,
.choicevidget-arrow-prev:hover,
.choicevidget-arrow-next:focus,
.choicevidget-arrow-next:hover {
    border: 1px solid #005EC8;
    color: #005EC8;
    text-decoration: none;
}

.choicevidget-arrow-prev i,
.choicevidget-arrow-next i {
    font-size: 20px;
    line-height: 28px;
}

.choicevidget-arrow-prev span,
.choicevidget-arrow-next span {
    font: 300 20px/110% 'OpenSans-Regular', sans-serif;
    color: #6A6A6A;
}

.section-choicevidget__choicefield {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 0 0 0 30px;
}

.section-choicevidget__variants {
    display: flex;
    flex-flow: column wrap;
}

.section-choicevidget__variants-item {
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: calc(100% / 3 - 15px);
    margin: 0 0 24px;
    padding: 0;
    border: 1px solid #D0D0D0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-transition: all .3s ease-in-out .1s;
    -webkit-transition: all .3s ease-in-out .1s;
    transition: all .3s ease-in-out .1s;
}

.section-choicevidget__variants-item:last-child {
    margin: 0;
}

.section-choicevidget__variants-item input[type=radio] {
    position: absolute;
    z-index: -10;
    opacity: 0;
    margin: 0 0 0 30px;
}

.section-choicevidget__variants-item input[type=radio]+label {
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    padding: 15px 20px 15px 70px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.section-choicevidget__variants-item input[type=radio]:checked+label {
    background: #005EC8;
    color: #FFFFFF;
}

.section-choicevidget__variants-item input[type=radio]+label:before {
    content: '';
    position: absolute;
    top: calc(100% / 2 - 15px);
    left: 20px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
}

.section-choicevidget__variants-item input[type=radio]+label:after {
    content: '';
    position: absolute;
    top: calc(100% / 2 - 15px);
    left: 20px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
}

.section-choicevidget__variants-item input[type=radio]:checked+label:before {
    content: '\2714';
    background: #378FF2;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.section-choicevidget__variants-item input[type=radio]:checked+label:after {
    content: '\2714';
    background: #378FF2;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.section-choicevidget__variants-item label {
    margin: 0;
    font: normal 16px/140% 'OpenSans-Regular', sans-serif;
    color: #444444;
}

.section-choicevidget__send {
    display: none;
}


/* section clients */

.section-clients {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto;
}

.section-clients__text {
    width: calc(100% / 5 - 10px);
}

.section-clients__title {
    width: 100%;
    font: normal 18px/120% 'OpenSans-Regular', sans-serif;
    color: #000000;
}

.section-clients__slider {
    width: calc(100% / 5 * 4 - 30px);
}

.section-clients__items {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.section-clients__items div {
    padding: 0 10px;
    text-align: center;
}

.section-clients__items button {
    display: none;
}


/* section complexchoice */

.section-complexchoice {
    display: flex;
    flex-flow: row wrap;
}

.section-complexchoice__title {
    width: 100%;
    margin: 100px auto 30px;
    font: 600 36px/120% 'OpenSans-Regular', sans-serif;
    text-align: center;
}

.section-complexchoice__descr {
    width: 80%;
    margin: 0 auto 40px;
    font: normal 22px/140% 'OpenSans-Regular', sans-serif;
    text-align: center;
}

.section-complexchoice__items {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.section-complexchoice__item {
    width: calc(100% / 3 - 30px);
    margin: 0 15px 30px;
    padding: 30px;
    box-shadow: 0px 1px 16px rgba(204, 223, 244, 0.23);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.section-complexchoice__item-img {
    display: flex;
    align-items: flex-end;
    align-content: flex-start;
    justify-content: flex-start;
    width: 85px;
    height: 65px;
}

.section-complexchoice__item-title {
    width: 100%;
    margin: 20px 0;
    font: normal 22px/120% 'OpenSans-Regular', sans-serif;
}

.section-complexchoice__item-descr {
    width: 100%;
    margin: 0;
    font: normal 16px/140% 'OpenSans-Regular', sans-serif;
}

.section-complexchoice__item-readmore {
    width: 100%;
    margin: 25px 0 35px;
    font: normal 22px/120% 'OpenSans-Regular', sans-serif;
}


/* section complex-upgrade */

.section-complexupgrade {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    position: relative;
    margin: 70px auto calc(-6rem);
    padding: 0 20px;
    background: #FFFFFF;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0px 1px 16px rgba(204, 223, 244, .23);
}

.section-complexupgrade__img {
    background: #F5F7F9;
    width: 100px;
    height: 100px;
    max-width: calc(10%);
    margin: 0 20px;
    padding: 30px 0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
}

.section-complexupgrade__text {
    width: calc(65%);
    padding: 30px 20px;
    border: none;
    border-right: 1px solid #DDDDDD;
}

.section-complexupgrade__text-title {
    font: normal 30px/140% 'OpenSans-Bold', sans-serif;
    color: rgba(0, 0, 0, .8);
}

.section-complexupgrade__text-title span {
    font: normal 30px/140% 'OpenSans-Bold', sans-serif;
    color: #005EC8;
}

.section-complexupgrade__text p {
    font: normal 16px/140% 'OpenSans-Regular', sans-serif;
    color: rgba(0, 0, 0, .8);
}

.section-complexupgrade__button {
    width: calc(20%);
    margin: 0 0 0 20px;
    padding: 30px 0;
    text-align: center;
}

.section-complexupgrade__button p {
    margin: 1.5rem auto 0;
    font: 300 14px/140% 'OpenSans-Regular', sans-serif;
    color: rgba(0, 0, 0, .6);
}


/* section contact-form */

.section-contactform {
    display: flex;
    flex-flow: row wrap;
    margin: 45px auto 0;
}

.section-contactform__text {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: flex-start;
    width: calc(100% / 2 - 30px);
    padding: 0 30px 0 10px;
    text-align: left;
}

.section-contactform__title {
    width: 100%;
    margin: 0 auto 50px;
    font: 600 36px/120% 'OpenSans-Regular', sans-serif;
}

.section-contactform__descr {
    margin: 0 auto 50px;
    font: normal 18px/140% 'OpenSans-Regular', sans-serif;
    color: rgba(0, 0, 0, .8);
}

.section-contactform__address {
    width: 100%;
    margin: 0 auto 20px;
    font: 600 16px/140% 'OpenSans-Regular', sans-serif;
    color: #000000;
}

.section-contactform__form {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: calc(100% / 2 + 30px);
    height: auto;
    min-height: 400px;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.06);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}


/* section controls */

.section-controls {
    display: flex;
    flex-flow: column wrap;
    width: calc(100% / 2 - 30px);
    padding: 0 15px;
    text-align: center;
}

.section-controls__item {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    justify-items: center;
    padding: 0 15px;
}

.section-controls__item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 200px;
    border-bottom: 4px solid #c4c4c4;
    overflow: hidden;
}

.section-controls__item-img img {
    width: calc(100% - 60px);
    margin: 30px 30px 0;
    box-shadow: 0px 9px 30px rgba(0, 0, 0, .36);
}

.section-controls__item-text {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.section-controls__item-title {
    width: 100%;
    margin: 40px auto 20px;
    font: normal 32px/120% 'OpenSans-Regular', sans-serif;
    color: #000000;
}

.section-controls__item-descr {
    width: 100%;
    margin: 0 auto 70px;
    font: 300 16px/140% 'OpenSans-Regular', sans-serif;
    color: #000000;
}


/* section devices all */

.section-devicesall {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
}

.section-devicesall__title {
    width: 100%;
    margin: 90px auto 20px;
    font: 600 36px/120% 'OpenSans-Regular', sans-serif;
    text-align: center;
}

.section-devicesall__descr {
    width: 70%;
    margin: 20px auto 40px;
    font: normal 22px/140% 'OpenSans-Regular', sans-serif;
    text-align: center;
}

.section-devicesall__items {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.section-devicesall__item {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-items: center;
    position: relative;
    height: 100%;
    min-height: 300px;
    margin: 15px;
    padding: 25px 30px 35px;
    background: #FFFFFF;
    box-shadow: 0px 1px 16px rgba(204, 223, 244, .23);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.section-devicesall__item-title {
    font: normal 22px/120% 'OpenSans-Regular', sans-serif;
    margin-bottom: 20px;
}

.section-devicesall__item-descr {
    font: normal 16px/140% 'OpenSans-Regular', sans-serif;
}

.section-devicesall__item-readmore {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.section-devicesall__item-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.section-devicesall__item.item-has-img {
    width: calc(100% / 3 * 2 - 30px);
    background: url("/assets/template/kgk/img/devicesall-backimg.svg") right calc(-5%) center no-repeat;
}

.section-devicesall__item.item-no-img {
    width: calc(100% / 3 - 30px);
}

.item-has-img>.section-devicesall__item-text,
.item-has-img>.section-devicesall__item-img {
    width: calc(100% / 2 - 10px);
}

.item-no-img>.section-devicesall__item-text {
    width: 100%;
}


/* section devicesrekommend */

.section-devicesrekomm {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
}

.section-devicesrekomm__title {
    width: 100%;
    margin: 90px auto 20px;
    font: 600 36px/120% 'OpenSans-Regular', sans-serif;
    text-align: center;
}

.section-devicesrekomm__items {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.section-devicesrekomm__item {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-items: center;
    position: relative;
    width: calc(100% / 3 - 30px);
    height: auto;
    min-height: 450px;
    margin: 15px;
    padding: 30px 20px;
    background: #FFFFFF;
    box-shadow: 0px 1px 16px rgba(204, 223, 244, .23);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.section-devicesrekomm__item-img {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin-bottom: 25px;
    min-height: 120px;
}

.section-devicesrekomm__item-title {
    font: 600 18px/140% 'OpenSans-Regular', sans-serif;
    margin-bottom: 20px;
}

.section-devicesrekomm__item-descr {
    font: 300al 16px/140% 'OpenSans-Regular', sans-serif;
    padding-bottom: 50px;
}

.section-devicesrekomm__item-controls {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    position: absolute;
    bottom: 25px;
    min-width: 100%;
    margin: 25px -20px 0;
}

.section-devicesrekomm__item-price,
.section-devicesrekomm__item-readmore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 2 - 10px);
}

.section-devicesrekomm__item-price span {
    font: 600 18px/140% 'OpenSans-Regular', sans-serif;
    color: #000
}


/* section faq */

.section-faq {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
}

.section-faq__title {
    width: 100%;
    margin: 90px auto 60px;
    font: 600 36px/120% 'OpenSans-Regular', sans-serif;
    text-align: center;
}

.section-faq__items {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    width: 100%;
}

div.panel {
    width: 100%;
    padding: 0;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0);
    max-height: 0;
    overflow: hidden;
    -moz-transition: all .3s ease-in-out .1s;
    -webkit-transition: all .3s ease-in-out .1s;
    transition: all .3s ease-in-out .1s;
}

.panel p {
    padding: 25px 10px;
    margin: 0;
}

.section-faq__accordion {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    cursor: pointer;
    min-height: 20px;
    font: normal 22px/140% 'OpenSans-Regular', sans-serif;
    color: #005EC8;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.section-faq__accordion.active {
    text-decoration: none;
}

.section-faq__accordion>.icon {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    margin-right: 0;
    margin-left: auto;
}

.section-faq__accordion:before,
.section-faq__accordion>.icon i {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.section-faq__accordion.active:before,
.section-faq__accordion.active>.icon i {
    transform: rotate(180deg);
}

.section-faq__item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    position: relative;
    padding: 25px;
    border-top: 1px solid #d0d0d0;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.section-faq__item {
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.section-faq__item.chosen {
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(204, 223, 244, .23);
}

.section-faq__item .title {
    margin-right: 40px;
    font: normal 22px/140% 'OpenSans-Regular', sans-serif;
    color: #005EC8;
}

.section-faq__item p {
    color: #000000;
}


/* section functions */

.section-functions {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    margin: 90px auto;
}

.section-functions__items {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
}

.section-functions__item {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.section-functions__img,
.section-functions__text {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.section-functions__img {
    text-align: center;
}

.section-functions__text {
    text-align: left;
}

.section-functions__title {
    font: normal 32px/120% 'OpenSans-Regular', sans-serif;
    color: #000000;
}

.section-functions__descr {
    font: normal 18px/140% 'OpenSans-Regular', sans-serif;
    color: #000000;
}


/* section mainscreen */

.row-mainscreen {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    position: relative;
    margin-top: 20px;
    background: url("/assets/template/kgk/img/mainscreen-bg.svg") center center no-repeat;
    background-size: 100% auto;
}

.row-mainscreen__upper {
    position: absolute;
    left: 60%;
    right: 0;
    height: 100%;
    background: url("/assets/template/kgk/img/mainscreen-up.png") center right no-repeat;
    background-size: 100% auto;
    -moz-transition: all 2s ease-in-out 3s;
    -webkit-transition: all 2s ease-in-out 3s;
    transition: all 2s ease-in-out 3s;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.row-mainscreen__upper-point {
    position: absolute;
}

.point-cyan {
    top: 59%;
    left: 60%;
}

.point-green {
    top: 18%;
    left: 76.5%;
}

.point-yellow {
    top: 25%;
    left: 27.5%;
}

.section-mainscreen {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 115px auto 120px;
}

.section-mainscreen__breaker {
    padding: 50px;
    background: rgba(0, 0, 0, 0);
}

.section-mainscreen__info {
    padding: 0;
    margin: 0;
}

.section-mainscreen__title {
    width: 100%;
    margin: 0 auto 40px;
    font: normal 36px/120% 'OpenSans-Regular', sans-serif;
}

.section-mainscreen__descr {
    width: 100%;
    margin: 0 auto 60px;
    font: normal 22px/140% 'OpenSans-Regular', sans-serif;
}

.section-mainscreen__buttons {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto 25px;
    font: normal 22px/140% 'OpenSans-Regular', sans-serif;
}

.section-mainscreen__buttons>#join-now {
    font: normal 24px/100% 'OpenSans-Regular', sans-serif;
}

.section-mainscreen__buttons>#calc-now {
    font: normal 20px/100% 'OpenSans-Regular', sans-serif;
}


/* section opportunity */

.section-opport {
    display: flex;
    flex-flow: column wrap;
}

.section-opport__title {
    width: 100%;
    margin: 90px auto 50px;
    font: 600 32px/140% 'OpenSans-Regular', sans-serif;
    text-align: center;
}

.section-opport__items {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto 80px;
}

.section-opport__buttons {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: calc(100% / 5 - 30px);
}

.section-opport_buttons-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    height: auto;
    min-height: 80px;
}

.section-opport_buttons-item a {
    padding: 10px 20px;
    width: 100%;
}

.section-opport_buttons-item a[button-position="odd"] {
    text-align: right;
}

.section-opport_buttons-item a[button-position="even"] {
    text-align: left;
}

.section-opport__screen {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: calc(100% / 5 * 3 + 30px);
}

.section-opport__screen-img {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 400px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}


/* section order-form */

.section-orderform {
    display: flex;
    flex-flow: row wrap;
}

.section-orderform__text {}

.section-orderform__title {}

.section-orderform__descr {}

.section-orderform__adress {}

.section-orderform__form {}


/* section other-join */

.section-otherjoin {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    position: relative;
    margin: 70px auto calc(-6rem);
    padding: 0 20px;
    background: #FFFFFF;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0px 1px 16px rgba(204, 223, 244, .23);
}

.section-otherjoin__img {
    background: #F5F7F9;
    width: 100px;
    height: 100px;
    max-width: calc(10%);
    margin: 0 20px;
    padding: 30px 0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
}

.section-otherjoin__text {
    width: calc(60%);
    padding: 30px 20px;
    border: none;
    border-right: 1px solid #E8E8E8;
}

.section-otherjoin__title {
    font: normal 30px/140% 'OpenSans-Bold', sans-serif;
    color: rgba(0, 0, 0, .8);
}

.section-otherjoin__button {
    width: calc(25%);
    margin: 0 0 0 20px;
    padding: 30px 0;
    text-align: center;
}


/* section reports */

.section-reports {
    display: flex;
    flex-flow: row wrap;
}

.section-reports__title {
    width: 100%;
    margin: 60px auto;
    font: 600 36px/120% 'OpenSans-Regular', sans-serif;
    text-align: center;
}

.section-reports__items {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.section-reports__item {
    width: calc(100% / 3 - 30px);
    margin: 0 15px 30px;
    padding: 0;
    text-align: center;
}

.section-reports__item-img {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    margin: 0 auto 20px;
    position: relative;
    width: 100%;
}

.section-reports__item-title {
    font: normal 24px/140% 'OpenSans-Regular', sans-serif;
    margin: 0 0 15px;
}

.section-reports__item-descr {
    font: normal 16px/140% 'OpenSans-Regular', sans-serif;
    margin: 0 0 40px;
}


/* section reviews */

.section-reviews {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 50px auto;
}

.section-reviews__icon {
    width: 75px;
    height: 75px;
    margin: 0 auto 45px;
    text-align: center;
}

.section-reviews__items {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
}

.section-reviews__item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

.section-reviews__quote {
    font: normal 36px/140% 'OpenSans-Regular', sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

.section-reviews__author {
    font: normal 20px/140% 'OpenSans-Regular', sans-serif;
}

.section-reviews__author span {
    font-weight: 700;
}

/* section survey */

.section-survey {
	display: flex;
	flex-flow: row wrap;
}

.section-survey__body {
	margin: 90px auto 50px;
}
.section-survey__title {
	width: 50%;
	margin-bottom: 40px;
	font: normal 32px/120% 'OpenSans-Regular', sans-serif;
}
.section-survey__descr {
	width: 50%;
	margin-bottom: 40px;
	font: 300 18px/140% 'OpenSans-Regular', sans-serif;
}
.section-survey__items {
	display: flex;
	flex-flow: column wrap;
}
.section-survey__item {
	display: flex;
	flex-flow: column wrap;
	position: relative;
	width: 100%;
}
.section-survey__item-heading {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-start;
	width: 50%;
}
.section-survey__item-title {
	font: normal 20px/140% 'OpenSans-Regular', sans-serif;
	color: #000000;
}
.section-survey__item-panel {
	font: 300 16px/140% 'OpenSans-Regular', sans-serif;
}
.section-survey__item-img {
	display: flex;
	flex-flow: row wrap;
	position: relative;
	width: 50%;
}
.section-survey__item-img img {
	position: absolute;
	right: 10px;
	top: calc(-25%);
}





/* 12. MEDIA QUERY RULES */

@media screen and (min-width:1440px) {
    .container {
        width: 1440px;
    }
}